body{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #FFC4C4;
  background-image: url('../img/img-fundo.jpg');
}


main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1{
  font-size: 2.5rem;
  margin: 10px 0px 15px 0px;
  color: #850E35;
}


.grid{
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 10px 10px 2px #00000031;
  border-radius: 19px;
}

.card{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  text-align: center;
  padding-top: 5px;
}

.card:hover{
  cursor: pointer;
}

.card1{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 0px;
}

.card1:hover{
  cursor: pointer;
  box-shadow: none;
}

.card2{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 0px;
}

.card2:hover{
  cursor: pointer;
  box-shadow: none;
}

.card3{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 5px;
}

.card3:hover{
  cursor: pointer;
  box-shadow: none;
}

.card4{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 5px;
}

.card4:hover{
  cursor: pointer;
  box-shadow: none;
}

.card5{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 5px;
}

.card5:hover{
  cursor: pointer;
  box-shadow: none;
}

.card6{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 5px;
}

.card6:hover{
  cursor: pointer;
  box-shadow: none;
}

.card7{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card7:hover{
  cursor: pointer;
  box-shadow: none;
}

.card8{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card8:hover{
  cursor: pointer;
  box-shadow: none;
}

.card9{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card9:hover{
  cursor: pointer;
  box-shadow: none;
}

.card10{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card10:hover{
  cursor: pointer;
  box-shadow: none;
}

.card11{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card11:hover{
  cursor: pointer;
  box-shadow: none;
}

.card12{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card12:hover{
  cursor: pointer;
  box-shadow: none;
}

.card13{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card13:hover{
  cursor: pointer;
  box-shadow: none;
}

.card14{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card14:hover{
  cursor: pointer;
  box-shadow: none;
}

.card15{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card15:hover{
  cursor: pointer;
  box-shadow: none;
}

.card16{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card16:hover{
  cursor: pointer;
  box-shadow: none;
}

.card17{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card17:hover{
  cursor: pointer;
  box-shadow: none;
}

.card18{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card18:hover{
  cursor: pointer;
  box-shadow: none;
}

.card19{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card19:hover{
  cursor: pointer;
  box-shadow: none;
}

.card20{
  width: 68px;
  height: 68px;
  background-color:#EE6983 ;
  border-radius: 16px;
  margin:9px 9px 0 0;
  box-shadow: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
}

.card20:hover{
  cursor: pointer;
  box-shadow: none;
}


p{
  font-weight: bold;
  font-size: 3rem;
  color: white;
}





@media (max-width:770px){

  body{
    background-image: url('../img/img-fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .grid{
    padding: 10px;
  }

  .card{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #D15F75;
    margin:5px 5px 0 0;
  }

  main h1{
    margin: 30px 0px 40px 0px;
  }

  main h2{
    margin-bottom: 30px;
  }
  p{
    padding-bottom: 10px;
    font-size: 2rem;
  
  }
}