*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.tela-jogo{
  width: 100vw;
  height: 100vh;
  border-bottom: 15px solid #04a004;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient( rgb(115, 199, 248), white);
}

.fim{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.itens{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

h1{
  font-weight: bold;
  font-size: 5rem;
}

button{
  padding: 20px;
  background-color: #04a004;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  font-size: 2rem;
  color: white;
  box-shadow: 2px 2px 5px #047704d0;
}

.pipe{
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear; 
}

.mario{
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump{
  animation: jump 600ms ease-out;
}

.clouds{
  position: absolute;
  width: 550px;
  animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation{
  
  from{
    right: -80px;
  }

  to{
    right: 100%;
  }

}

@keyframes jump{

  0%{
    bottom: 0;
  }

  40%{
    bottom: 190px;
  }

  50%{
    bottom: 190px;
  }

  60%{
    bottom: 190px;
  }

  100%{
    bottom: 0;
  }
}

@keyframes clouds-animation{

  from{
    right: -550px;
  }

  to{
    right: 100%;
  }
}
