@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --cor0: #FFFFFF;
    --cor1: #000000;
    --cor2: #88939d;
    --cor3: #a81214;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: black;
}

body{
    background-image: url('../img/fundo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header img{
    height: 78px;
}

.menu-g{
    display: none;
}

.menu-mobile{
    width: 100vw;
    position: fixed;
    background-color: var(--cor1);
}
.menu-respo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 60px 18px 60px;
    border-bottom: 0.4px solid var(--cor2);
}

#icon{
    color: var(--cor0);
    padding-top: 30px;
    cursor: pointer;
}

#icon:hover{
    color: var(--cor3);
}

.mostrar{
    display: none;
}

.mostrar > nav > a{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
    font-size: 18px;
    font-family: var(--font-destaque);
    font-weight: bold;
    color: var(--cor2);
    text-decoration: none;
}

.mostrar > nav > a:hover{
    color: var(--cor3);
}

main{
    display: block;
    margin: auto;
    padding: 166px 40px 77px 40px;
    color: var(--cor0);
}


main h1, h2{
    font-family: var(--font-destaque);
    line-height: 2.5em;
}


main p{
    text-align: justify;
    line-height: 2em;
    font-family: var(--font-padrao);;
}

.primeira_cessao{
    padding: 0px 0px 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:90px;
}

.estrela_da_morte{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.estrela_da_morte:hover{
    box-shadow: 0 0 120px 1px var(--cor3);
}
.segunda_cessao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.segunda_cessao > h2{
    border-top: 0.4px solid var(--cor2);
    padding-top: 40px;
}

footer{
    background-image: url('../img/footer_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    text-align: center;
}

footer > p{
    font-family: var(--font-destaque);
    color: var(--cor2);
}

footer > p > a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}

footer a:hover{
    color: var(--cor3);
}