* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 0px;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: rgba(19, 51, 76, 0.9098039216);
  backdrop-filter: blur(2px);
  transition: 0.5s;
}
nav button {
  align-self: flex-end;
  display: flex;
  padding: 15px 20px;
  background-color: rgba(19, 51, 76, 0.9098039216);
  border: none;
  transition: 0.3s;
}
nav button span {
  border-top: 2px solid #F6F6E9;
  width: 20px;
}
nav button span::after, nav button span::before {
  display: block;
  content: "";
  height: 2px;
  margin-top: 5px;
  background-color: #F6F6E9;
  transition: 0.3s;
  position: relative;
}
nav h2 {
  width: fit-content;
  overflow: hidden;
  color: #F6F6E9;
  font-size: 1.2rem;
  font-weight: normal;
  align-self: center;
}
nav h2::after {
  display: block;
  content: "";
  height: 1px;
  margin-top: 10px;
  background-color: #F6F6E9;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
nav ul li {
  width: 100%;
}
nav ul li.linkAtual {
  background-color: #FD5F00;
  padding: 10px 0;
  border-left: 4px solid #F6F6E9;
}
nav ul a {
  margin-left: 30px;
  text-decoration: none;
  color: #F6F6E9;
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 5px;
}
nav ul a img {
  width: 20px;
  aspect-ratio: 6/6;
  object-fit: contain;
}

#nav.ativado {
  height: 100vh;
}
#nav.ativado button {
  background-color: transparent;
}
#nav.ativado button span {
  border: transparent;
}
#nav.ativado button span::after {
  transform: rotate(-135deg);
  top: -7px;
}
#nav.ativado button span::before {
  transform: rotate(135deg);
}

body {
  background-color: #F6F6E9;
}

.initial-container {
  height: 100vh;
  width: 100vw;
}

.first {
  z-index: 2;
  height: 80%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005792;
  color: #F6F6E9;
  text-align: start;
  box-shadow: 0px 5px 3px rgba(0, 88, 146, 0.2196078431);
}
.first .image {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #F6F6E9;
}
.first .image img {
  width: max(180px, 23vw);
}
.first h1 {
  font-size: max(30px, 4vw);
  margin: 20px 0px 10px 0px;
}

.second {
  margin-top: 5px;
  height: calc(20% - 5px);
  width: 100%;
  background-color: #F6F6E9;
  color: #13334C;
  font-size: max(0.73rem, 2vw);
  text-align: center;
  display: flex;
  justify-content: center;
}
.second h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.second-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.second-container .descobrir {
  width: 250px;
  color: #13334C;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}
.second-container .descobrir div {
  width: fit-content;
  border: 6px solid #FD5F00;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container .descobrir div img {
  width: max(80px, 8vw);
}

footer {
  padding: 20px;
  background-color: #13334C;
  color: #F6F6E9;
  text-align: center;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
